<nav class="breadcrumbs" aria-label="breadcrumbs">
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    /
    <li aria-current="page">
      {% if product_collection %}
        <h1 class="collection-hero__title">
          <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
          {{- collection.title | escape -}}
        </h1>
      {% else %}
        <a href="{{ request.path }}" aria-current="page">{{ item_title }}</a>
      {% endif %}
    </li>
  </ul>
</nav>