<div class="page-width">
  <div class="breadcrumbs">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      /
      <li>{{ product.title }}</li>
    </ul>
  </div>
  <div class="product_tabs">
    <ul>
      <li>
        <a href="#features">Features</a>
      </li>
      <li>
        <a href="#description">Description</a>
      </li>
      <li>
        <a href="#video">Video</a>
      </li>
    </ul>
  </div>
  <button class="buy_now_btn button button--secondary">Buy now</button>
</div>
{% schema %}
  {
    "name": "Product navigation",
    "tag": "section",
    "class": "product_navigation",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "color",
        "id": "background",
        "label": "Background color",
        "default": "#000"
      }
    ]
  }
{% endschema %}