{% assign current_variant = product.selected_or_first_available_variant %}
<div class="page-width">
  <div class="breadcrumbs">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      /
      <li>{{ product.title }}</li>
    </ul>
  </div>
  <div class="product_tabs">
    <ul>
      <li>
        <a href="#vc_features" class="scroll_link tab_link">Features</a>
      </li>
      <li>
        <a href="#vc_description" class="scroll_link tab_link">Description</a>
      </li>
      <li>
        <a href="#video" class="scroll_link tab_link">Video</a>
      </li>
    </ul>
  </div>
  <form method="post" id="product_cart-slider_form-four" action="/cart/add" accept-charset="UTF-8" enctype="multipart/form-data" class="product_cart-slider_form product_cart-vaultcard_form">
    <input type="hidden" name="id" class="product_cart-slider_form-variant_id" value="{{ product.selected_or_first_available_variant.id }}" />
    <input min="1" type="number" id="quantity" name="quantity" value="1" class="hide hidden" />
    <button type="submit" onclick="pintrk('track', 'addtocart'), {product_id: '{{ current_variant.sku }}'};" class="buy_now_btn button button--secondary" {% unless current_variant.available %} disabled="disabled"{% endunless %} name="add">{% if current_variant.available %}BUY NOW{% else %}SOLD OUT{% endif %}</button>
  </form>
</div>
{% schema %}
  {
    "name": "Product navigation",
    "tag": "section",
    "class": "product_navigation",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": []
  }
{% endschema %}