<div class="page-width">

{% for block in section.blocks %}
  {% case block.type %}
    {% when "text" %}
      {{ block.settings.text }}
  {% endcase %}
{% endfor %}

</div>

{% schema %}
{
  "name": "Vaultcard description",
  "tag": "section",
  "class": "vc_description tab_content",
  "settings": [],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "two_column_text",
      "name": "Two-column text",
      "settings": [
        {
          "type": "richtext",
          "id": "text1",
          "label": "Text 1"
        },
        {
          "type": "richtext",
          "id": "text2",
          "label": "Text 2"
        }
      ]
    }
  ]
}
{% endschema %}