<div class="page-width">

{% for block in section.blocks %}
  {% case block.type %}
    {% when "text" %}
      {{ block.settings.text }}
    {% when "two_column_text" %}
      <div class="two_column_text">
        <div class="column">
          {{ block.settings.two_column_text_1 }}
        </div>
        <div class="column">
          {{ block.settings.two_column_text_2 }}
        </div>
      </div>
  {% endcase %}
{% endfor %}

</div>

{% schema %}
{
  "name": "Vaultcard description",
  "tag": "section",
  "class": "vc_description tab_content",
  "settings": [],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "two_column_text",
      "name": "Two-column text",
      "settings": [
        {
          "type": "richtext",
          "id": "column_1",
          "label": "First column"
        },
        {
          "type": "richtext",
          "id": "column_2",
          "label": "Second column"
        }
      ]
    }
  ]
}
{% endschema %}