<div>
  <h1>vc_features</h1>
</div>

{% schema %}
{
  "name": "Vaultcard features",
  "tag": "section",
  "class": "vc_features",
  "settings": [],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "select",
          "id": "type",
          "label": "Type",
          "options": [
            {
              "value": "1",
              "label": "type-1"
            },
            {
              "value": "2",
              "label": "type-2"
            },
            {
              "value": "3",
              "label": "type-3"
            }
          ],
          "default": "1"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ]
}
{% endschema %}