function changeImageCollectionCard() { 
  let variantBtnElements = document.querySelectorAll('.variant_btn')
  variantBtnElements.forEach(buttonElement => {
    buttonElement.addEventListener('click', () => {
  
      let cardElement = buttonElement.parentElement.parentElement.parentElement
      let linkElements = cardElement.querySelectorAll('a')
      let imageElement = cardElement.querySelector('.card__media img')
      let imageUrl = buttonElement.dataset.image
      let variantUrl = buttonElement.dataset.url
  
      linkElements.forEach(linkElement => {
        linkElement.href = variantUrl
      })
  
      Array.from(buttonElement.parentNode.children).forEach(sibling => {
        if (sibling !== buttonElement) {
          sibling.classList.remove('active')
        }
      })
  
      buttonElement.classList.add('active')
      // imageElement.classList.add('loading')
      // setTimeout(() => {imageElement.classList.remove('loading')}, 300)
      
      imageElement.src = imageUrl;
    })
  })
}
changeImageCollectionCard()

function changeVariant() { 
  let slideshowContainerElements = document.querySelectorAll('.slideshow_container')
  let productImagesElements = document.querySelectorAll('.product_images')
  let productVariantOptionsCustomElements = document.querySelectorAll('.product-variant-options-custom')
  let variantProductFeaturesElements = document.querySelectorAll('.variant_product_features')
  
  if (productVariantOptionsCustomElements) {
    productVariantOptionsCustomElements.forEach(elem => {
      elem.addEventListener('click', function (evt) {
        if (slideshowContainerElements[this.dataset.index]) {
          slideshowContainerElements.forEach(el => {
            el.classList.remove('active')
          })
          slideshowContainerElements[this.dataset.index].classList.add('active')
        }
        if (productImagesElements[this.dataset.index]) {
          productImagesElements.forEach(el => {
            el.classList.remove('active')
          })
          productImagesElements[this.dataset.index].classList.add('active')
        }
        if (variantProductFeaturesElements[this.dataset.index]) {
          variantProductFeaturesElements.forEach(el => {
            el.classList.remove('active')
          })
          variantProductFeaturesElements[this.dataset.index].classList.add('active')
        }
      })
    })
  }
}
changeVariant()

function offset(el) {
    var rect = el.getBoundingClientRect(),
    scrollTop = window.pageYOffset || document.documentElement.scrollTop
    return rect.top + scrollTop
}

function productTabsScroll() {
  const anchors = document.querySelectorAll('.product_tabs a[href*="#"]')
  for (let anchor of anchors) {
    anchor.addEventListener('click', function (evt) {
      // evt.preventDefault()
      const is_scroll_link = anchor.classList.contains('scroll_link')
      const is_tab_link = anchor.classList.contains('tab_link')
      const blockID = anchor.getAttribute('href').substr(1)
      const block = document.querySelector(`.${blockID}`)
      const headerHeight = document.querySelector('.section-header').offsetHeight
      const NAV_HEIGHT = 38

      if (is_scroll_link) {
        if (blockID == 'to_top') {
          window.scrollTo({
            top: 0,
            left: 0,
            behavior: "smooth"
          });
        } else if (block) {
          setTimeout(() => {
            const blockTop = offset(block) - headerHeight - NAV_HEIGHT
            window.scrollTo({
              top: blockTop,
              left: 0,
              behavior: "smooth"
            })
          }, 100)
        }
      }
      if (is_tab_link) {
        const tabContentElements = document.querySelectorAll('.tab_content')
        tabContentElements.forEach(elem => {
          elem.classList.remove('tab_content_active')
        })
        block.classList.add('tab_content_active')
      }
    })
  }
}
productTabsScroll()

// const swiper_product_gallery = new Swiper(".swiper_product_gallery", {
//   spaceBetween: 20,
//   pagination: {
//     el: ".swiper-pagination",
//     clickable: true,
//   },
//   loop: true,
//   autoplay: {
//     delay: 3500,
//     disableOnInteraction: false,
//   },
// })

const buy_now_btn = document.querySelectorAll('.buy_now_btn')
const add_to_cart_btn = document.querySelector('.product-form__submit')
if (buy_now_btn) {
  buy_now_btn.forEach(element => {
    element.addEventListener('click', function(evt) {
      if (add_to_cart_btn) {
        add_to_cart_btn.click()
      }
    })
  })
}

function halvedNumbersAnimate() {
  // Getting the right element
  let halved_numbers = document.querySelectorAll('.halved__num')
  let Visible = function (target) {
    // All item positions
    let targetPosition = {
        top: window.pageYOffset + target.getBoundingClientRect().top,
        left: window.pageXOffset + target.getBoundingClientRect().left,
        right: window.pageXOffset + target.getBoundingClientRect().right,
        bottom: window.pageYOffset + target.getBoundingClientRect().bottom
      },
      // Get window positions
      windowPosition = {
        top: window.pageYOffset,
        left: window.pageXOffset,
        right: window.pageXOffset + document.documentElement.clientWidth,
        bottom: window.pageYOffset + document.documentElement.clientHeight
      };
  
    if (targetPosition.bottom > windowPosition.top &&
      targetPosition.top < windowPosition.bottom &&
      targetPosition.right > windowPosition.left &&
      targetPosition.left < windowPosition.right) {
      setTimeout(()=>{target.classList.add('is-visible')}, 400)
    } else {
      setTimeout(()=>{target.classList.remove('is-visible')}, 400)
    }
  }
  
  window.addEventListener('scroll', function() {
    halved_numbers.forEach(element => {
      Visible(element)
    })
  })
  
  halved_numbers.forEach(element => {
    Visible(element)
  })
}
halvedNumbersAnimate()


const active_variant_btns = document.querySelectorAll('.variant_btn.active')
if (active_variant_btns.lenght > 0) {
  console.log(active_variant_btns)
}


console.dir(document.querySelector('.wc_review_list_section'))
// function wc_review_slider() {
//     var slidesToShow = 3;
//     if ($(window).width() <= 641) {
//         slidesToShow = 1;
//     } else if ($(window).width() <= 991) {
//         slidesToShow = 2;
//     }else if ($(window).width() <= 1024 && slidesToShow != 2) {
//         slidesToShow = 3;
//     }
//     $('.wc_slider_lenght_3').slick({
//         slidesToShow: slidesToShow,
//         slidesToScroll: 1,
//         arrows: true,
//         fade: false,
//         slide: 'li',
//         infinite: false,
//         prevArrow: "<button type='button' class='slick-prev pull-left'><svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Layer_1' x='0px' y='0px' viewBox='0 0 492 492' style='enable-background:new 0 0 492 492;' xml:space='preserve' width='24px' height='24px'><g><g><path d='M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12    C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084    c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864    l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z' fill='#FFFFFF'/></g></g></svg></button>",
//         nextArrow: "<button type='button' class='slick-next pull-right'><svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Capa_1' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 451.846 451.847' style='enable-background:new 0 0 451.846 451.847;' xml:space='preserve'><g><path d='M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744   L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284   c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z' fill='#FFFFFF'/></g></svg></button>",
//         dots: false,
//         adaptiveHeight: true,
//         mobileFirst: true,
//         responsive: [
//             {
//                 breakpoint: 1199,
//                 settings: {
//                     slidesToShow: slidesToShow
//                 }
//             },
//             {
//                 breakpoint: 1030,
//                 settings: {
//                     slidesToShow: 3
//                 }
//             },
//             {
//                 breakpoint: 991,
//                 settings: {
//                     slidesToShow: 2
//                 }
//             },
//             {
//                 breakpoint: 641,
//                 settings: {
//                     slidesToShow: 1
//                 }
//             }
//         ]
//     });
// }
// $(document).ready(function () {
//     wc_review_slider();
// });
